<div id="BossBars centerpanel">
  <!-- left -->
  <div class="leftpanel">
    <img src="assets/images/boss10.svg" class="boss"/>
  </div>
  <!-- right -->
  <div class="rightpanel">
    <!-- health bar -->
    <div class="progressBarContainer">
      <div id="bossHealthTextBar">{{_getBossFormatHealth()}}</div>
      <div id="bossHealthBar"></div>
    </div>
    <!-- progress bar -->
    <div>
      <div [hidden]="false==false" class="progressBarContainer">
        <div id="progressBar"></div>
      </div>
      <div [hidden]="true==false" class="progressBarContainer">
        &#8203;
      </div>
    </div>
  </div>
</div>