<ion-grid>
    <ion-row>
        <ion-col>
            <img class="animated" [ngClass]="{'healicon-fade': _isHealOnCooldown('0001'), 'rubberBand': animation[0].animate}" src="assets/images/0001.jpg" (click)="test()"/>
        </ion-col>
        <ion-col>
            <img class="animated" [ngClass]="{'healicon-fade': _isHealOnCooldown('0002'), 'rubberBand': animation[1].animate}" src="assets/images/0002.jpg"/>
        </ion-col>
        <ion-col>
            <img class="animated" [ngClass]="{'healicon-fade': _isHealOnCooldown('0003'), 'rubberBand': animation[2].animate}" src="assets/images/0003.jpg"/>
        </ion-col>
        <ion-col>
            <img class="animated" [ngClass]="{'healicon-fade': _isHealOnCooldown('0004'), 'rubberBand': animation[3].animate}" src="assets/images/0004.jpg" (click)="_innervate()" />
        </ion-col>
        <ion-col>
            <img class="animated" [ngClass]="{'healicon-fade': _isHealOnCooldown('0005'), 'rubberBand': animation[4].animate}" src="assets/images/0005.jpg"(click)="_tranquility()" />
        </ion-col>
    </ion-row>
</ion-grid>